{% extends 'main/layout.html' %}

{% block title %} О нас {% endblock %}

{% block content %}
    <div class="features">
        <h1>Как пользоваться сайтом?</h1>
        <br>
        <h4>Сайт построен на использовании API HeadHunter-a и предназначен для поиска вакансий.</h4>
        <br>
        <h4>Чтобы начать пользоваться сайтом, Вам нужно ввести интересующую Вас профессию и задать параметры, если те необходимы. 
            После этого сайт выдаст Вам список открытых вакансий по Вашему запросую.</h4>
    </div>
{% endblock %}